#map_canvas{
    height: 95%;
}

.goToLocation{
    background: #0000FF;
    height: 3em;
}

.back-button{
    background: transparent !important;
}

.back-arrow-icon{
    color: black;
    font-size: 1.3rem;
}
